
.m_bold{
    font-weight: 600;
}

.m_color_blue{
    color:rgb(3,74,255)

}
.m_navbar_logo{
    height:30px;
}

.padding-15{
    /* bug-fix nav bar destra*/
    padding-top: 16px;
}

.m_chevron{
    font-size: 30px;
    font-weight: 900;
    color:black;
    margin: 20px;

}
.m_margin_15{
    padding-left: 20px;
}

/*JUMBOTRON*/

a{
    text-decoration: none;
}

.m_jumbo_lg{
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    height: 400px;
}

.m_jumbo_account{
    padding:20px;
    text-align: center;
    background-color:white;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    margin-top: 30px;
    font-size: 50px;
}

/* .m_bg_jumbo h1,p{ 
    margin-right: 100px;
} */


.m_color_white{
    color: white;
}

.m_color_light_gray{
    color: lightgray;
}

.m_radius{
    border-radius: 5px;
}

.m_logo_google{
    position: absolute;
    left: 5%;
    top: 7px;
    height: 15px;
}

.m_google_btn{
    background-color: white;
    color: black;
    position:relative;
}

form input,h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.m_font_extra_little{
    font-size: 12px;
}

.m_position_terms{
    margin: 0 auto;
    margin-top: 10px;
}

.m_font_little{
    font-size: 14px;
}

.m_btn_account{
    font-size: 14px;
    height: 30px; 
    line-height:17px;
}

.m_padding_50{
    padding-top: 50px;
}
/*MAIN*/

/*PARTNER*/
.m_img_partner{
    height: 75px;
    padding:0px;
}

.m_partner{
    background-color: rgb(242,245,249);
    padding-top:30px;
    padding-bottom:30px;

}
.m_margin_none{
    /*bugfix*/
    margin: 0px;
}
/* DEPLOY*/

.m_container_process{
    border-left: 1px solid gray;
    margin-right:30px;
    padding:10px;
    margin-bottom:20px;
}

.m_img_deploy{
    width: 60px;
    align-items: left;
    margin-bottom: 10px;
}

.m_container_title_deploy{
    margin-top:50px;
    margin-bottom:50px;
}

.m_section_deploy{
    margin-bottom:40px;
}

/*SECTION DESIGN*/
.m_section_design{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(242,245,249);
}

.m_description_carousel{
    margin-right: 0;
    margin-top:30px;
    font-size: 14px;
}

.m_wd_50{
    width:50%;
}

.m_left_carousel{
    position:absolute;
    left:0px;
    top:50%;
    color: black;
  }
.m_right_carousel{
    position:absolute;
    right:0px;
    top:50%;
}

.m_button_carousel{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid blue;
}


.m_button_carousel:active{
    background-color: blue;
}



/*  FEATURE */
.m_section_feature{
    padding-top: 40px;
    padding-bottom: 40px;
}

.m_container_title_feature{
    margin-bottom: 10px;
}

.m_img_feature{
    height: 40px;
    margin-bottom:20px;
}

.m_container_menu_footer{
    margin-top: 35px;
}

.m_logo_small{
    margin-bottom: 10px;
}

/*REGIONS*/
.m_section_regions{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgb(1,72,197),rgb(2,30,154));
    color:white;

}
table{
    border-collapse: collapse;
    width: 100%;
    color:white;
}

tr{
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    line-height: 30px;
}

th{
    text-align: left;    
}
tr:last-child{
    border-bottom: 0px;
}

td:first-child{
    font-weight: bold;
}

td:nth-child(2) {
    color: lightgray;
    font-weight: bold;
}

td:last-child{
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    color: rgb(0,213,209);
}

/* TEAMS*/

.m_section_teams{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgb(242,245,249);

}
.m_teams_title{
    margin-top: 30px;
    margin-bottom: 60px;
}

.m_wd_40{
    width:40%;
}

.m_container_team{
    position:relative;
    display: inline-block;
    background-color:white;
    width: 400px;
    height: 250px;
    padding-top: 30px;
}

.m_chevron_teams{
    position:absolute;
    top:50%;

}
/*GET STARTED */
.m_section_get_started{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 50px;
    background-image: linear-gradient(rgb(1,72,197),rgb(2,30,154));

}

.m_section_get_started > h2{
    color:white;
}

.m_button_account{
    background-color: white;
    color: blue;
    font-size: 14px;
    margin-top:20px;
}

/* FOOTER */
.m_footer{
    background-color: rgb(3,28,78);
}

.m_footer h6{
    color:white;
    margin-bottom:5px;
}

.m_footer p{
    color:lightgray;
}

.m_footer a p{
    font-size:13px;
    font-weight: 500;
}

.m_social_btn{
    color: gray;
    font-size: 20px;
    margin: 5px;
}

.m_social_btn:hover{
    color:white; 
}

@media screen and (max-width:992px){
    h1{
        margin-top: 30px;
        font-size: 40px;
    }

    .m_jumbo_md{
        height: 440px;
    }
    
    .m_jumbo_account_md{
        margin-top: 30px;
        height: 360px;
    }

    .m_img_partner_md{
        height:50px;
    }
    table{
        margin-bottom:20px;
    }
}


@media screen and (max-width:768px){
    

    .m_bg_jumbo_account_xs{
        margin-top:10px;
        height: 320px;
    }  
    


    .m_img_partner_sm{
        height: 60px;
    }
    
    .m_jumbo_xs{
        height: 700px;

    }

    .m_img_carousel_margin{
        margin-top: 50px;
    }

    .m_sm_container_feature{
        margin-bottom: 40px;
    }

    .m_hidden_sm{
        display: none;
    }
    
}

