/* DEBUG */

.debug-red{
    background-color: red;
    height: 100px;
    border: 1px solid black
}

.debug-blue{
    background-color: blue;
    height: 100px;
    border: 1px solid black
}

.debug-yellow{
    background-color: yellow;
    height: 100px;
    border: 1px solid black
}

.debug-green{
    background-color: green;
    height: 100px;
    border: 1px solid black
}

.debug-purple{
    background-color: purple;
    height: 100px;
    width: 100%;
    border: 1px solid black
}
.width-100{
    width: 100%;
}

.height-500{
    height:500px
}

/* /DEBUG */

.m_navbar_logo{
    height:30px;
}
.padding-15{
    /* bug-fix li destra della nav bar*/
    padding-top: 15.5px;
}
.m_bg_jumbo{
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    height: 360px;
}

.m_jumbo_account{
    background-color:white;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;

}
h1{
    font-size: 50px;
}

.m_bg_jumbo h1,p{
    
    margin-right: 100px;

}


.m_color_white{
    color: white;

}

.m_color_light_gray{
    color: lightgray;
}
